{% extends "dawdle/base.html" %}
{% load duration %}
{% load alignment %}

{% block content %}
  <div class="contentbox">
    <h1>{{player.name}}, the level {{player.level}} {{player.cclass}}</h1>
    <table><tbody>
        <tr>
          <td>Level:</td><td>{{player.level}}</td>
          <td>Current Position:</td><td>{{player.posx}}, {{player.posy}}</td>
        </tr>
        <tr>
          <td>Account created:</td><td>{{player.created}}</td>
          <td>Last Login:</td><td>{{player.lastlogin}}</td>
        </tr>
        <tr>
          <td>Total time idled:</td><td>{{player.idled|duration}}</td>
          <td>Time to next level:</td><td>{{player.nextlvl|duration}}</td>
        </tr>
        <tr>
          <td>Alignment:</td><td><span class="{{player.alignment|alignment}}-align">{{player.alignment|alignment}}</span></td>
        </tr>
    </tbody></table>
    <img src="{% url 'dawdle:player-map' player.name %}" alt="Player Map" usemap="#playermap">
    <map name="playermap">
      <area shape="circle"
            coords="{{player.posx}},{{player.posy}},3"
            alt="{{player.name}}"
            href="{% url 'dawdle:player-detail' player.name %}">
    </map>


    </div><div class="contentbox">
    <h2>Penalties</h2>
    <table><tbody>
        <tr>
          <td>Being kicked:</td><td>{{player.penkick|duration}}</td>
          <td>Leaving channel:</td><td>{{player.penpart|duration}}</td>
        </tr>
        <tr>
          <td>Quitting:</td><td>{{player.penquit|duration}}</td>
          <td>Dropping link:</td><td>{{player.pendropped|duration}}</td>
        </tr>
        <tr>
          <td>Changing nicks:</td><td>{{player.pennick|duration}}</td>
          <td>Messaging:</td><td>{{player.penmessage|duration}}</td>
        </tr>
        <tr>
          <td>Logout command:</td><td>{{player.penlogout|duration}}</td>
          <td>Quest failures:</td><td>{{player.penquest|duration}}</td>
        </tr>
    </tbody></table>
    <p>Total penalties: {{total_penalties|duration}}</p>

    </div><div class="contentbox">
    <h2>Items</h2>
    <ul>
    {% for item in player.item_set.all|dictsort:"slot" %}
    <li>{{item.slot}}: Level {{ item.level }} {{item.name}}</li>
    {% endfor %}
    </ul>
    <p>Total item level: {{ total_items }}</p>
    </div><div class="contentbox">
    <h2>History</h2>
    <ul>
    {% for event in player.history_set.all|dictsortreversed:"time" %}
    <li>{{event.time}}: {{event.text}}</li>
    {% endfor %}
    </ul>
    </div>

{% endblock %}
