{% extends "dawdle/base.html" %}
{% load static %}
{% load duration %}
{% load alignment %}

{% block content %}
<div class="contentbox">
  {% if quest and quest.mode != 0%}
  <h1>The sacred quest to {{quest.text}}</h1>

  {% if quest.mode == 1 %}
  <p>Time left in quest: {{quest.qtime|duration}}</p>
  {% elif quest.stage == 1 %}
  <p>Questor's next destination: ({{quest.dest1x}}, {{quest.dest1y}})</p>
  {% else %}
  <p>Questor's next destination: ({{quest.dest2x}}, {{quest.dest2y}})</p>
  {% endif %}

      <table id="playerlist">
      <thead>
        <tr><td style="width:30rem">Questor</td><td>Time to next level</td></tr>
      </thead><tbody>
        {% for p in questors %}
        <tr class="{%if p.online %}online{% else %}offline{% endif %}">
          <td><img style="height: 0.7em; width: 0.7em"
                                             src="{% if p.online %}
                                                  {% static 'dawdle/Blue_sphere.svg' %}
                                                  {% else %}
                                                  {% static 'dawdle/Gray_sphere.svg' %}
                                                  {% endif %}"
                                             alt="{% if p.online %}
                                                  On
                                                  {% else %}
                                                  Off
                                                  {% endif %}">
            <a href="{% url 'dawdle:player-detail' p.name %}">{{p.name}},
              the <span class="{{p.alignment|alignment}}-align">{{p.alignment|alignment}}</span>
            level {{p.level}} {{p.cclass}}</a>
          </td>
          <td style="text-align: right"2>{{p.nextlvl|duration}}</td>
        </tr>
        {% endfor %}
      </tbody></table>

      <div id="pmap-container">
        <img id="pmap" src="{% url 'dawdle:map' %}" alt="Player Map" usemap="#playermap">
      </div>
      <map name="playermap">
        {% for p in questors %}
        <area shape="circle"
              coords="{{p.posx}},{{p.posy}},3"
              alt="{{p.name}}"
              href="{% url 'dawdle:player-detail' p.name %}">
        {% endfor %}
      </map>

      {% else %}
      <h1>No current quest</h1>
      <p>There is no decreed quest at this time.</p>
  {% endif %}
</div>

{% endblock %}
