[Unit]
Description=DawdleRPG IRC Bot
After=network.target auditd.service

[Service]
User=www-data
Group=www-data
ExecStart=DAWDLERPG_DIR/dawdle.py -o daemonize=off DAWDLERPG_DIR/data/dawdle.conf
Restart=on-failure
RestartPreventExitStatus=255
Type=simple

[Install]
WantedBy=multi-user.target
